.features {
  padding-top: 11.2rem;
  padding-bottom: 11.2rem;

  > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include respond(tab-port) {
      flex-direction: column;
    }
  }
}

.features-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  flex-basis: 33.3333333333333333333333%;

  @include respond(tab-port) {
    &:not(:last-of-type) {
      margin-bottom: 2.5rem;
    }
  }

  &__img {
    font-size: 8rem;
    transform: scale(0.9);
    color: $color-blue-primary;
    transition: all 0.2s;
    margin-bottom: 1.6rem;

    &:hover {
      transform: scale(1);
    }
  }

  &__header {
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 0.8rem;
  }

  &__desc {
    font-size: 2rem;
    font-weight: 300;
  }
}
